
@import 'fonts';
@import 'mixins';


html,
body,
#app {
  margin: 0;
  padding: 0;
  font-family: 'Manrope';
  background-color: white;
}

.logo {
  font-size: 1.5 rem;
}

a {
  @include trans-duration(500ms);
  text-decoration: none;
  outline: none;
  font-size: 14px;
  color: #000 !important;

  &:hover {
    @include trans-duration(500ms);
    text-decoration: none;
    outline: none;
    color: #1976d2 !important;
  }
}
